- content_for(:title) { "Course Conditions" }

%h1= yield :title

- if @report.nil?
  %p No condition reports yet.
- else
  %p
    The course is
    = succeed '.' do
      %em{class: @report.status.parameterize}<
        =h @report.status.downcase
    Weather is #{h @report.weather.downcase}.
    = greens_summary @report

  %footer
    Last updated: #{@report.created_at.to_s(:short)}.
    = link_to "More course updates", root_url, target: "_blank"
