- content_for(:title) { "Course Conditions" }

#header
  .title
    %h1= yield :title
  .date
    = Date.today.to_s(:long)


= simple_form_for [@source, @report] do |f| 
  = f.input :status, collection: ["Open", "Closed"], as: :radio, wrapper_html: { class: "two-up" }

  = f.input :weather, collection: ["Good", "Fair", "Poor"], as: :radio, wrapper_html: { class: "three-up" }

  = f.submit "Send Report"
