- content_for(:title) { "Report for #{@report.created_at.to_date.to_s(:short)}" }
- @body_class = "report_form"

%p Thanks for the report, #{h @report.source.name}!

%dl
  %dt Status
  %dd= @report.status
  %dt Weather
  %dd= @report.weather
  %dt Reported
  %dd= @report.created_at.to_s(:short)

%p
  = link_to "Report again", new_source_report_path(@source), class: "button secondary"